

.banner{
    background-image: url(../../img/banner/banner.jpg);
    height: 700px; 
   

    background-size: cover;
}
.dark-overly{
    background: rgba(0, 0, 0, 0.5);
    height: 700px; 

}
.text-position{
    display: flex;
    margin-left: 100px;
    align-items: center;
    height: 700px;
}
.title-font{
    font-size: 100px;
    color: rgb(78, 186, 212)
}
